@model NotificationPortal.ViewModels.StatusVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    var className = Model.StatusName == "Offline" ? "badge badge-danger" : "badge badge-success";
}
<h1 class="text-center display-4 pb-3">@Model.StatusName <span class="@className">@Html.DisplayFor(modelItem => Model.StatusName)</span></h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="~/Status/Index" class="link-color">Status</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.StatusName)</li>
</ol>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatusID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger" })
</p>
