@model NotificationPortal.ViewModels.StatusVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4 pb-3">@Model.StatusName</h1>
<!-- ========================= breadcrumb ========================= -->
<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="~/Status/Index" class="link-color">Status</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.StatusName)</li>
</ol>
@if (TempData["SuccessMsg"] != null)
{
            <!-- display success message -->
    <p class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.Raw(TempData["SuccessMsg"])
    </p>
}
@if (TempData["ErrorMsg"] != null)
{
            <!-- display error message -->
    <p class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.Raw(TempData["ErrorMsg"])
    </p>
}
<!-- ========================= status detail ========================= -->
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTypeName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatusID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger" })
</p>
