<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notification Portal</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!-- include rtf editor SummerNote js-->
    @Scripts.Render("~/bundles/summernote")
    <!-- include timezone js-->
    @Scripts.Render("~/bundles/timezone")
    <!-- font awesome-->
    <script src="https://use.fontawesome.com/69b26ab5d3.js"></script>
    <!-- for right click-->
    <script src="~/Scripts/script.js" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-toggleable-md navbar-inverse fixed-top">
        @{
            if (!Request.IsAuthenticated)
            {
                @Html.Raw("<div class='container'>")
            }
        }

        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @{
            if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Notification Portal", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("Notification Portal", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
            }
        }

        <div class="navbar-collapse collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>

            @Html.Partial("_LoginPartial")
        </div>

        @{
            if (!Request.IsAuthenticated)
            {
                @Html.Raw("</div>")
            }
        }
    </div>

    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Sidebar/_Sidebar.cshtml")
    }

    <div class="container-fluid col-sm-9 col-md-11 offset-md-1">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p class="text-center">@Html.Raw("Latest Build: " + File.GetLastWriteTime(System.Reflection.Assembly.GetExecutingAssembly().Location).ToString()) - <a href="~/Home/Documentation">Documentation</a></p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
