

 <nav class="col-sm-3 col-md-1 hidden-xs-down bg-inverse sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            @{
                if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "nav-link" })
                }
            }
        </li>

        <li class="nav-item">
            @{
                if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Notifications", "Index", "Notification", null, new { @class = "nav-link" })
                }
            }
        </li>

        @{if (Request.IsAuthenticated && !HttpContext.Current.User.IsInRole(NotificationPortal.Models.Key.ROLE_USER))
            {
                <li class="nav-item">
                    <button class="sidebar-dropdown-button bg-inverse">
                        Settings&nbsp;
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>
                    <ul class="sidebar-dropdown">
                        @if (HttpContext.Current.User.IsInRole(NotificationPortal.Models.Key.ROLE_CLIENT))
                        {
                            <li>@Html.ActionLink("User Control", "Index", "User", null, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Applications", "Index", "Application", null, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("User Control", "Index", "User", null, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Servers", "Index", "Server", null, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Clients", "Index", "Client", null, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Applications", "Index", "Application", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</nav>

@*<main class="col-sm-9 offset-sm-3 offset-md-0 col-md-12 offset-md-0 pt-3">*@

