@model NotificationPortal.ViewModels.ClientVM

@{
    ViewBag.Title = "Client Details";
}

<h1 class="text-center display-4 pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="~/Client/Index" class="link-color">Clients</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.ClientName)</li>
</ol>

<p class="text-success">
    @Html.Raw(TempData["SuccessMsg"])
</p>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "Edit", new { id=Model.ClientID }, new { @class = "btn btn-success" })
@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
