@model NotificationPortal.ViewModels.ApplicationIndexVM
@using PagedList.Mvc;
@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4 pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Application", FormMethod.Get, new { @class = "form-inline pb-3" }))
        {
            @Html.TextBox("SearchString", Model.CurrentFilter, new { @class = "form-control mr-sm-2" })
            <input class="btn btn-secondary" type="submit" value="Search" />
        }
    </div>
    <div class="offset-md-4 col-md-2">
        <div class="float-create">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-mint text-white" })
        </div>
    </div>
</div>
@if (Model.Applications.Count() > 0)
{
    if (TempData["SuccessMsg"] != null)
    {
        <p class="alert alert-success">
            @Html.Raw(TempData["SuccessMsg"])
        </p>
    }

    <table class="table table-bordered" style="position:relative;">
        <tr class="bg-inverse text-white">
            <th>
                <a href="@Url.Action("Index", "Application", new { sortOrder = Model.ClientHeadingSort, currentFilter = Model.CurrentFilter })">
                    Application
                    <span class="filter-arrows">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Application", new { sortOrder = Model.StatusSort, currentFilter = Model.CurrentFilter })">           
                    Description
                    <span class="filter-arrows">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Application", new { sortOrder = Model.StatusSort, currentFilter = Model.CurrentFilter })">
                    URL
                    <span class="filter-arrows">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </a>  
            </th>
            <th>
                <a href="@Url.Action("Index", "Application", new { sortOrder = Model.StatusSort, currentFilter = Model.CurrentFilter })">
                    Status Name
                    <span class="filter-arrows">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </a>  
            </th>
            <th>
                <a href="@Url.Action("Index", "Application", new { sortOrder = Model.StatusSort, currentFilter = Model.CurrentFilter })">
                    Client Name
                    <span class="filter-arrows">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </a>  
            </th>

            @*<th></th>*@
        </tr>

        @foreach (var item in Model.Applications)
        {
            <tr class="text-center clickable-row" id="@item.ReferenceID" data-href="/Details/@item.ReferenceID">
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ReferenceID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ReferenceID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ReferenceID })
                    </td>*@
            </tr>
        }

    </table>

    @Html.PagedListPager(Model.Applications, page => Url.Action("Index",
        new { page, sortOrder = Model.CurrentSort, currentFilter = Model.CurrentFilter }))
}
else
{
    if (Model == null)
    {
        <p> Something went wrong, application database not available.</p>
    }
    else
    {
        <p> There are no such applications in the database at the moment.</p>
    }

}

    <div class="hidden-menu">
        <ul>
            <li><a href="/Edit/" class="btn btn-sm">Edit</a></li>
            <li><a href="/Delete/" class="btn btn-sm">Delete</a></li>
        </ul>
    </div>