@model NotificationPortal.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h1 class="display-4 pl-3 text-center">@ViewBag.Title</h1>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    if (TempData["SuccessMsg"] != null)
                {
            <!-- display success message -->
        <p class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @Html.Raw(TempData["SuccessMsg"])
        </p>
    }
    if (TempData["ErrorMsg"] != null)
                {
            <!-- display error message -->
        <p class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @Html.Raw(TempData["ErrorMsg"])
        </p>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label offset-md-4 col-md-4" })
        <div class="offset-md-4 col-md-4 offset-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label offset-md-4 col-md-4" })
        <div class="offset-md-4 col-md-4 offset-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label offset-md-4 col-md-4" })
        <div class="offset-md-4 col-md-4 offset-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="offset-md-4 col-md-4">
            <input type="submit" value="Change password" class="btn btn-primary btn-block" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}