@model NotificationPortal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Your Account";
}

<h1 class="display-4 text-center">@ViewBag.Title</h1>

<div class="offset-md-2 col-md-8 offset-md-2 text-center">
    <p class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.StatusMessage
    </p>
    <div>
        @if (Model.HasPassword)
        {
            <a class="manage-btn" href="@Url.Action("ChangePassword", "Manage")">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <p>Reset Password</p>
            </a>
        }
        else
        {
            <a class="manage-btn" href="@Url.Action("SetPassword", "Manage")">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <p>Set Password</p>
            </a>
        }
    </div>
    <div>
        <a class="manage-btn" href="@Url.Action("Index", "Profile")">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <p>Edit Profile</p>
        </a>
    </div>
</div>
