@using NotificationPortal.Models

@model LoginViewModel

@{
    ViewBag.Title = "Log In";
}

<div class="left-padding">
    <h1 class="display-4 pl-3 text-center pb-3">@ViewBag.Title</h1>

    <div class="alert alert-warning alert-dismissible fade show offset-md-3 col-md-6 offset-lg-4 col-lg-4" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong class="mb-1">Internal</strong>
        <ul>
            <li>
                admin@portal.com | password
            </li>
            <li>
                staff@portal.com | password
            </li>
        </ul>
        <hr />
        <strong>External</strong>
        <ul>
            <li>
                client@portal.com | password
            </li>
            <li>
                user@portal.com | password
            </li>
        </ul>
    </div>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal offset-md-3 col-md-6 offset-lg-4 col-lg-4", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div >
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @if (TempData["SuccessMsg"] != null)
                {
            <!-- display success message -->
                <p class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Raw(TempData["SuccessMsg"])
                </p>
            }
            @if (TempData["ErrorMsg"] != null)
                {
            <!-- display error message -->
                <p class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @Html.Raw(TempData["ErrorMsg"])
                </p>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "" })
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Log in" class="btn btn-primary btn-block" />
            </div>
        </div>

        <div class="form-group">
            <div>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "link-color" })
                </p>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}