@model NotificationPortal.Models.Server

@{
    ViewBag.Title = "Server Details";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Servers/Index">Servers</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataCenterLocation.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCenterLocation.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "Edit", new { id = Model.ServerID }, new { @class = "btn btn-success" }) 
@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
