@model NotificationPortal.ViewModels.NotificationVM

@{
    ViewBag.Title = "Add Notification";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="~/Notification/Index" class="link-color">Notifications</a></li>
    <li class="breadcrumb-item active">Add Notification</li>
</ol>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!--choose source-->
        <div class="form-group">
            <label for="group_name" class="control-label">Source Filter</label>
            <div class="">
                <select multiple class="form-control" id="source" name="source" required>
                    <option>Application</option>
                    <option>Server</option>
                </select>
            </div>
        </div>

        <!--source item selection-->
        <div class="form-group">
            <label for="group_name" class="control-label">Select source</label>
            <div class="">
                <select multiple class="form-control" id="source-item" name="source-item" required></select>
            </div>
        </div>

        <!--notification server ID-->
        <div class="form-group">
            @Html.LabelFor(model => model.ServerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServerID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServerID, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--notification application ID-->
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @*<!--notification type-->
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.TypeList, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.NotificationTypeID, Model.TypeList, htmlAttributes: new { @class = "" })
                </div>
            </div>

            <!--level of impact-->
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.LevelOfImpactList, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.LevelOfImpactID, Model.LevelOfImpactList, htmlAttributes: new { @class = "" })
                </div>
            </div>

            <!--notification status-->
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.StatusList, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.StatusID, Model.StatusList, htmlAttributes: new { @class = "" })
                </div>
            </div>

            <!--priority list-->
            <div class="form-group col-md-3">
                <label for="group_name" class="control-label">Priority</label>
                <div class="">
                    <select multiple class="form-control" required>
                        <option>Normal</option>
                        <option>High</option>
                        <option>Low</option>
                    </select>
                </div>
            </div>*@
        </div>
        <!--heading-->
        <div class="form-group">
            @Html.LabelFor(model => model.NotificaionHeading, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NotificaionHeading, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NotificaionHeading, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--description-->
        <div class="form-group">
            @Html.LabelFor(model => model.NotificaionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NotificaionDescription,  new { @class = "form-control"} )
                @Html.ValidationMessageFor(model => model.NotificaionDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--start time-->
        <div class="form-group">
            @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--end time-->
        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#source").change(function() {
            var el = $(this);
            if (el.val() == "Application") {
                $("#source-item option").remove();
                $("#source-item").append("<option>Task Management App</option><option>Event Management App</option>");
            }
            else if (el.val() == "Server") {
                $("#source-item option").remove();
                $("#source-item").append("<option>Server 1</option><option>Server 2</option>");
            }
        });
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval",
                    "~/bundles/summernote",
                    "~/Scripts/add-notification.js")
}
