@model NotificationPortal.ViewModels.NotificationDetailVM

@{
    ViewBag.Title = "Notification Details";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="~/Notification/Index" class="link-color">Notifications</a></li>
    <li class="breadcrumb-item active">Notification Details</li>
</ol>

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Source)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Source)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NotificationType)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.NotificationType)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LevelOfImpact)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.LevelOfImpact)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartDateTime)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.StartDateTime)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EndDateTime)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.EndDateTime)</dd>
</dl>
<!-- list of threads-->
<div id="accordion" role="tablist" aria-multiselectable="true">

    @foreach (var item in Model.Thread)
    {
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <div data-toggle="collapse" class="d-flex justify-content-between bd-highlight md-3" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="p-2 bd-highlight">@Html.DisplayFor(modelItem => item.NotificationHeading)</span>
                        <span class="badge bd-highlight">@Html.DisplayFor(modelItem => item.SentDateTime)</span>
                    </div>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    @Html.DisplayFor(modelItem => item.NotificationDescription)
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Update", "Update", new { id = Model.ThreadID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary" })
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

