@model IEnumerable<NotificationPortal.ViewModels.NotificationIndexVM>

@{
    ViewBag.Title = "Notifications";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item active">Notifications</li>
</ol>

<div class="row">
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>

    <div class="offset-md-4 col-md-6">
        <div style="float: right">
            <form class="form-inline pb-3" method="get" action="~/">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="name" />
                <input class="btn btn-secondary" type="submit" value="Search" />
            </form>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr class="bg-inverse text-white text-center">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ApplicationServerName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NotificationType)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.LevelOfImpact)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NotificationHeading)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.SentDateTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Client)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="text-center clickable-row notification-row" data-href="/Notification/Details">
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationServerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelOfImpact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationHeading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
            </tr>
        }
    </tbody>

</table>
<div id="hidden-menu">
    <a class="btn btn-default" href="~/Notification/Update">Update</a>
    <a class="btn btn-default" href="~/Notification/Delete">Delete</a>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script>
    jQuery(document).ready(function ($) {
        const HIDDEN_MENU_WIDTH_OFFSET = 100;
        const HIDDEN_MENU_HEIGHT_OFFSET = 40;
        $("#hidden-menu").hide();
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });

        $(".notification-row").contextmenu(function (e) {
            $("#hidden-menu").css({ position: "absolute", top: e.pageY - HIDDEN_MENU_HEIGHT_OFFSET, left: e.pageX - HIDDEN_MENU_WIDTH_OFFSET });
            $('#hidden-menu').toggle();
            return false;
        });


    });
</script>

