@model NotificationPortal.ViewModels.DataCenterVM

@{
    ViewBag.Title = "Add Data Center Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>
<!-- ========================= breadcrumb ========================= -->
<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Home</a></li>
    <li class="breadcrumb-item"><a href="~/DataCenter/Index">Data Centers</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>

<!-- ========================= create form ========================= -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal offset-md-3 col-md-6 offset-md-3">
        @if (TempData["SuccessMsg"] != null)
        {
            <!-- display success message -->
            <p class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @Html.Raw(TempData["SuccessMsg"])
            </p>
        }
        @if (TempData["ErrorMsg"] != null)
        {
            <!-- display error message -->
            <p class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @Html.Raw(TempData["ErrorMsg"])
            </p>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "required" })
            <div>
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}