@model NotificationPortal.ViewModels.DataCenterVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4 pb-3">@Model.Location</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Home</a></li>
    <li class="breadcrumb-item"><a href="~/DataCenter/Index">Data Centers</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Location)</li>
</ol>

<h3 class="text-danger pb-2">Are you sure you want to delete this DataCenter?</h3>
@if (TempData["ErrorMsg"] != null)
{
    <p class="alert alert-danger">
        @Html.Raw(TempData["ErrorMsg"])
    </p>
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.LocationID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-mint text-white" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
