@model NotificationPortal.ViewModels.DataCenterVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center display-4 pb-3">@Model.Location</h1>
<!-- ========================= breadcrumb ========================= -->
<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="~/DataCenter/Index" class="link-color">Data Centers</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Location)</li>
</ol>
<!-- ========================= data center details ========================= -->
<!-- alert messages -->
@if (TempData["SuccessMsg"] != null)
{
    <p class="alert alert-success">
        @Html.Raw(TempData["SuccessMsg"])
    </p>
}
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.LocationID  }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger" })
</p>
