@model IEnumerable<NotificationPortal.ViewModels.DashboardVM>

@{
    ViewBag.Title = "Dashboard";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

@if (HttpContext.Current.User.IsInRole(NotificationPortal.Models.Key.ROLE_USER) || HttpContext.Current.User.IsInRole(NotificationPortal.Models.Key.ROLE_CLIENT)) {
    @Html.Partial("~/Views/Dashboard/_external.cshtml", Model)
}
else {
    <table class="table table-bordered" style="position:relative;">
        <thead>
            <tr class="bg-inverse text-white">
                <th>
                    @Html.DisplayNameFor(model => model.SourceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelOfImpact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThreadHeading)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var statusClass = item.Status.ToUpper() == NotificationPortal.Models.Key.STATUS_NOTIFICATION_INCOMPLETE.ToUpper() ? "text-danger" : "text-success";
                var impactClass = item.LevelOfImpact.ToUpper() == NotificationPortal.Models.Key.LEVEL_OF_IMPACT_NON_IMPACTING.ToUpper() ? "badge badge-success" : "badge badge-danger";
                <tr class="text-centerclickable-row-dashboard" data-href="/Notification/Details/@item.ThreadID">
                    <td>
                        <a href="@Url.Action("Details", "Server", new { id = item.SourceReferenceID })" class="">
                            @Html.DisplayFor(modelItem => item.SourceName)
                        </a>
                    </td>
                    <td>
                        <span class="@impactClass">
                                @Html.DisplayFor(modelItem => item.LevelOfImpact)
                        </span>
                    </td>
                    <td>
                        <a href="@Url.Action("DetailsThread", "Notification", new { id = item.ThreadID })" class="">
                            @Html.DisplayFor(modelItem => item.ThreadHeading)
                        </a>
                    </td>
                    <td>
                        <span>
                            @Html.DisplayFor(modelItem => item.SentDateTime)
                        </span>
                    </td>
                    <td>
                        <span class="@statusClass">
                            @Html.DisplayFor(modelItem => item.Status)
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
