@model IEnumerable<NotificationPortal.ViewModels.UserVM>


@{
    ViewBag.Title = "User Management";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Home</a></li>
    <li class="breadcrumb-item active">User Management</li>
</ol>

<div class="row">
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
    <div class="offset-md-4 col-md-6">
        <div style="float: right">
            <form class="form-inline pb-3" method="get" action="~/User/Search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="name" />
                <input class="btn btn-secondary" type="submit" value="Search" />
            </form>
        </div>
    </div>
</div>

<p class="text-success">@TempData["AddUserSuccess"]</p>
<p class="text-danger">@TempData["AddUserError"]</p>
<p class="text-success">@TempData["EditUserSuccess"]</p>
<p class="text-danger">@TempData["EditUserError"]</p>

<table class="table table-bordered">
    <tr class="bg-inverse text-white text-center">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.BusinessTitle)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.BusinessPhone)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.HomePhone)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th class="hidden-md-up hidden-xs-up"></th>
        <th class="hidden-md-up hidden-xs-up"></th>
        <th class="hidden-md-up hidden-xs-up"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            @{
                var className = item.StatusName == "Disabled" ? "badge badge-danger" : "badge badge-success";
            }
            <td>
                <span class="@className">@Html.DisplayFor(modelItem => item.StatusName)</span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-outline-success btn-sm" })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-outline-secondary text-muted btn-sm" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
                }
</table>