@model IEnumerable<NotificationPortal.ViewModels.UserVM>


@{
    ViewBag.Title = "User Management";
}

<h1 class="display-4 text-center pb-3">@ViewBag.Title</h1>

<ol class="breadcrumb bg-faded">
    <li class="breadcrumb-item"><a href="~/Dashboard/Index" class="link-color">Home</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline pb-3" method="get" action="~/User/Search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="name" />
                <input class="btn btn-secondary" type="submit" value="Search" />
            </form>
        </div>
        <div class="offset-md-4 col-md-2">
            @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>

    <p class="text-success">@TempData["AddUserSuccess"]</p>
    <p class="text-danger">@TempData["AddUserError"]</p>
    <p class="text-success">@TempData["EditUserSuccess"]</p>
    <p class="text-danger">@TempData["EditUserError"]</p>
    <p>@TempData["ActionResultMsg"]</p>

    <table class="table table-bordered">
        <tr class="bg-inverse text-white text-center">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BusinessTitle)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-center clickable-row" id="@item.UserID" data-href="/Details/@item.UserID">
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessTitle)
                </td>
                @{
                    var className = item.StatusName == "Disabled" ? "badge badge-danger" : "badge badge-success";
                }
                <td>
                    <span class="@className">@Html.DisplayFor(modelItem => item.StatusName)</span>
                </td>
            </tr>
        }
    </table>

    <div class="hidden-menu">
        <ul>
            <li><a href="/Edit/" class="btn btn-sm">Edit</a></li>
            <li><a href="/Delete/" class="btn btn-sm">Delete</a></li>
        </ul>
    </div>
</div>